
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}

.navbar {
  background-color: rgb(132, 172, 211); 
  padding-left: 0% ;
  position: fixed;
 width: 100%;
 

}

/* .container {
  box-shadow: 0 0 5px 2px silver;
  width: 50%;
  
} */

body {
    
/* 
    background-image: url(../images/gid.jpeg); */

    -webkit-transform: scale(0.999);
    transform: scale(0.999);

    background-color: rgb(245,245,245);

    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center center;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-size: auto 100%;
    font-size: 18px;
    
}

  img {
    display: block;
    width: 50px;
    margin: 0 auto;
  }


h1 {
    
  font-weight: bold;
  text-align: center;
  padding-top: 10%;
  font-size: 25px;
  
}


.card-title {
    font-weight:bold;
    text-align: center;
    padding-top: 20px;
   
}

h1.text-center {
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  font-size: 25px;
}



/* table {
    width: 40%;
    margin: 40px auto;
    background: rgb(233, 231, 231);
   
}

table.list {
    text-align: center;
    width: 100%; 
    
} */


input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
} 

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

/* .controls {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr;
    gap: .7rem;
} */

/* label {
    font-size: .8rem;
    justify-self: end;
} */



input[type='reset'],
input[type='submit'] {
    width: 5rem;
    justify-self: end;
    
}

input[type='reset'] {

        grid-column: 2;
        grid-row: 3;

         background-color: white;  
         border: 2px solid #f44336;
        grid-column: 2;
        margin: .4rem;
        width: 20%;

  
}

input[type='reset']:hover {
    background-color: #f44336;
    color: white;
  }




input[type='submit'] {
    grid-column: 2;
    grid-row: 3;
    margin: .4rem;
    width: 20%;

    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    
}

input[type='submit']:hover {
    background-color: #4CAF50;
    color: white;
}


.flex-parent {
    display: flex;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  button.margin-right {
    margin-right: 20px;
  }



  .btn-success {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    margin-left: 25%;

    
  }
  
  .btn-success:hover {
    background-color: #4CAF50;
    color: white;
  }

  .btn-danger {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
    margin-right: 25%
  }
  
  .btn-danger:hover {
    background-color: #f44336;
  color: white;
  }


  /* footer {
    padding-top: 20px;
    background-color: rgb(132, 172, 211); 
    padding: 0 1rem;
    display: block;
    font-size: 15px;
  }

  footer.container {
     align-items: center;
     justify-content: space-between; 
     color: black;
     display: fixed; 
    }  */
   

    footer {
      padding-top: 20px;
      background-color: rgb(132, 172, 211); 
      padding: 0 1rem;
      display: block;
      font-size: 15px;
    }
  
    footer .container {
      display: flex;
      align-items: center;
      justify-content: space-between; 
       color: black;
    }



.jumbotron {
  background-image: url(../images/hand.jpeg); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
  overflow-x: hidden;

  
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}
.main h5 {
  color:rgb(68, 64, 64);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 80px;
  text-transform: none;
  /* margin-bottom: 80px; */
/* margin-top: 0; */
}

.btn-main {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: underline;
  text-transform: none;
  color: rgb(58, 59, 59); 
  
  
}    

/* 3 */

