h1 {
    font-weight: bold;
    text-align: center;
}


body {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table {
    width: 40%;
    margin: 40px auto;
    background: rgb(233, 231, 231);
    
}
table.list {
    text-align: center;
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
} 

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

.controls {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr;
    gap: .7rem;
}

label {
    font-size: .8rem;
    justify-self: end;
}

input[type='reset'],
input[type='submit'] {
    width: 5rem;
    justify-self: end;
}

input[type='reset'] {
        grid-column: 2;
        grid-row: 3;
        background-color: rgba(220, 0, 0, 1);
        grid-column: 2;
        color: #fff;
        margin: .4rem;
        width: 20%;

}


input[type='submit'] {
    grid-column: 2;
    grid-row: 3;
    background-color: green;
    color: #fff;
    margin: .4rem;
    width: 20%;
    
}

.flex-parent {
    display: flex;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  button.margin-right {
    margin-right: 20px;
  }