h2 {
	text-align: center;
}

table {
	width: 100%;
	margin: 40px auto;
	background: rgb(233, 231, 231);
}

table.list {
	text-align: center;
	width: 100%;
}

td {
	border: 1px solid rgb(204, 200, 200);
}

tr:nth-child(even),
table.list thread > tr {
	background-color: rgb(204, 200, 200);
}

input[type="text"],
input[type="number"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
}

input[type="Add"] {
	background: green;
	padding: 6px 12px;
	margin: 15px 0 10px;
	display: inline-block;
	border: none;
	border-radius: 30px;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
}

input[type="Reset"] {
	background: red;
	padding: 6px 12px;
	margin: 15px 0 10px;
	display: inline-block;
	border: none;
	border-radius: 30px;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
} 
